.pink-background {
    -fx-background-color: #ffb6c1;
}

.dark-pink-background {
    -fx-background-color: #ff8d9e;
}

.grey-background {
	-fx-background-color: #eeeeee;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.header-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 48.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.title-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 26.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.side-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 26.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.black-border {
    -fx-border-color: black;
    -fx-border-width: 3.0px;
}

.button {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 18.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.button:pressed {
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0.0;
}

.text-field {
	-fx-font-family: 'Pangolin', cursive;
	-fx-font-size: 18.0px;
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.card {
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.table-cell {
	-fx-alignment: center;
}

.rounded-border {
	-fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
}